* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, verdana;
    box-sizing: border-box;
}

nav {
    background-color: rgba(211, 109, 0, 0.6);
    height: 70px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    float: right;
    line-height: 70px;
    font-size: 22px;
    font-family: sans-serif;
    border-left: 2px solid rgb(208, 205, 17);
    width: 170px;
    color: white;
    text-align: center;
}

nav a:hover {
    background-color: rgb(60, 55, 55);
    color: black;
}

h1 {
    text-align: center;
    font-style: impact;
    line-height: 350px;
    font-size: 110px;
    color: white;
    color: rgb(252, 252, 252);
}

.sect1 {
    height: 350px;
    background-image: linear-gradient(
        rgba(217, 141, 18, 0.3) 0%,
        rgba(211, 109, 0, 0.6) 50%,
        rgba(217, 141, 18, 0.3) 100%
        /*
    rgba(5, 50, 99, 0.3) 0%,
    rgba(64, 45, 206, 0.3) 50%,
    rgba(71, 53, 156, 0.6) 100%
    */
  );
}

.sect2 {
    height: 250px;
    background-color: white;
    flex-wrap: wrap;
}

section {
}

section h2 {
    font-size: 30px;
    margin: 30px 0 15px 50px;
}

section p {
    margin: 0 40px 10px 30px;
    width: 70%;
    float: left;
    clear: both;
    padding-right: 4%;
}

.MyPicture {
    height: 267px;
    width: 200;
    flex-grow: 1;
    flex-shrink: 0;
}

.sect3 {
    width: 100%;
}

.proj1 {
    height: 400px;
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
}

.proj1i {
    height: 90%;
    width: 90%;
    background-image: linear-gradient(
        rgba(211, 109, 0, 0.6) 0%,
        rgba(217, 141, 18, 0.3) 50%,
        rgba(211, 109, 0, 0.6) 100%
  );
  margin-left: 5%;
  margin-right: 4%;
}

#proj1in {
}

.no {
    background-color: white;
    margin: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    font-size: 140%;
}

.no:hover::after {
    background-color: green;
    content: "This is a description of the project";
    width: 270px;
    height: 30px;
    color: black;
    position: absolute;
    left: 30px;
    bottom: 64px;
    font-size: 70%;
    line-height: 30px;
}

.proj2 {
    height: 400px;
    width: 100%;
    background-color: white;
    margin-left: 2%
}

.proj2i {
    height: 90%;
    width: 90%;
    background-image: linear-gradient(
        rgba(217, 141, 18, 0.3) 0%,
        rgba(211, 109, 0, 0.6) 50%,
        rgba(217, 141, 18, 0.3) 100%
  );
    margin: 20px;
}

#proj2in {
}

.proj3 {
    height: 200px;
    width: 100%;
    background-color: white;
    justify-self: flex-end;
}

.proj3i {
    height: 90%;
    width: 90%;
    background-image: linear-gradient(
        rgba(217, 141, 18, 0.3) 0%,
        rgba(211, 109, 0, 0.6) 50%,
        rgba(217, 141, 18, 0.3) 100%
  );
    margin: 10px;
}

#proj3in {
}

.proj4 {
    height: 200px;
    width: 100%;
    background-color: white;
    justify-self: flex-end;
}

.proj4i {
    height: 90%;
    width: 90%;
    background-image: linear-gradient(
        rgba(217, 141, 18, 0.3) 0%,
        rgba(211, 109, 0, 0.6) 50%,
        rgba(217, 141, 18, 0.3) 100%
  );
    margin: 10px;
}

#proj4in {
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%
}
    
.container {
    display: flex;
    width: 100%;
}

.sect4 {
    height: 275px;
    background-color: wheat;
}

.sect4 h2 {
    padding: 15px 15px 0 15px;
    margin-left: 8%;
}

.sect4 p {
    padding: 10px 0 0 20px;
    font-size: 110%;
    margin-left: 5%;
}

.sect4 a {
    text-decoration: none;
    color: red;
}

.RandomPic {
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    flex-grow: 1;
    flex-shrink: 0;
}