* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, verdana;
    box-sizing: border-box;    
}

.topnav {
    background-color: rgba(211, 109, 0, 0.6);
    height: 70px;
}

.topnav a {
    text-decoration: none;
    display: inline-block;
    float: right;
    line-height: 70px;
    font-size: 130%;
    border-left: 2px solid black;
    width: 170px;
    color: rgb(221, 233, 244);
    text-align: center;
}

.topnav a:hover {
    background-color: rgb(221, 233, 244);
    color: rgba(211, 109, 0, 0.6);
}

h2 {
    font-style: arial;
    font-size: 225%;
    color: white;
    white-space: nowrap;
    text-shadow: 3px 3px 2px grey;
    margin: 1.25% 0 0 2.25%;
}

h1 {
    text-align: center;
}

h1 a {
    text-decoration: none;
    font-size: 500%;
    line-height: 220px;
    color: white;
    white-space: nowrap;
    text-shadow: 6px 6px 4px grey;
    white-space: pre-wrap;
}

h1 a:hover {
    color: white;
    font-size: 600%;
}

.sect1 {
    height: 350px;
    background-image: linear-gradient(
        rgba(217, 141, 18, 0.3) 0%,
        rgba(211, 109, 0, 0.6) 50%,
        rgba(217, 141, 18, 0.3) 100%
  );
    border-width: 6px 0 6px 0;
    border-color: black;
    border-style: solid;
}

body {
    background-color: rgb(221, 233, 244);
}

.sect2 {
    height: 250px;
    flex-wrap: wrap;
}

section h3 {
    font-size: 190%;
    margin: 30px 0 15px 50px;
    color: rgb(12, 82, 180);
}

.sect2 p {
    margin: 0 40px 10px 5%;
    width: 70%;
    float: left;
    clear: both;
    padding-right: 4%;
    color: rgb(34, 35, 2);
}

.MyPicture {
    height: 267px;
    width: 200;
}

.sect3 {
    width: 100%;
}

.sectionpaddingbot {
    padding-bottom: 20px;
}

.proj {
    border: black 3px solid;
}

.proj1 {
    height: 400px;
    width: 100%;
    flex-wrap: wrap;
    opacity: 0.7;
}

.proj1:hover {
    opacity: 1;
}

.proj1i {
    height: 90%;
    width: 90%;
    background-image: linear-gradient(
        rgba(211, 109, 0, 0.6) 0%,
        rgba(217, 141, 18, 0.3) 50%,
        rgba(211, 109, 0, 0.6) 100%
  );
  margin-left: 5%;
  margin-right: 4%;
}

#proj1in {
}

.no {
    background-color: rgb(221, 233, 244);
    margin: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    font-size: 140%;
    color: rgb(12, 82, 180);
    border: black 2px solid;
}
/*
#proj1in[data-descr]:hover::after {
    background-color: rgb(221, 233, 244);
    content: attr(data-descr);
    width: 310px;
    height: 30px;
    color: black;
    position: fixed;
    left: 20px;
    top: 57vh;
    border: 2px solid black;
    line-height: 30px;
    font-size: 80%;
}
*/
.proj2 {
    height: 400px;
    width: 100%;
    margin-left: 2%;
    opacity: 0.7;
}

.proj2:hover {
    opacity: 1;
}

.proj2i {
    height: 90%;
    width: 90%;
    background-image: linear-gradient(
        rgba(211, 109, 0, 0.6) 0%,
        rgba(217, 141, 18, 0.3) 50%,
        rgba(211, 109, 0, 0.6) 100%
  );
    margin: 20px;
}

#proj2in {
}

.proj3 {
    height: 200px;
    width: 100%;
    opacity: 0.7;
}

.proj3:hover {
    opacity: 1;
}

.proj3i {
    height: 90%;
    width: 90%;
    background-image: linear-gradient(
        rgba(211, 109, 0, 0.6) 0%,
        rgba(217, 141, 18, 0.3) 50%,
        rgba(211, 109, 0, 0.6) 100%
  );
    margin: 10px;
}

#proj3in {
}

.proj4 {
    height: 200px;
    width: 100%;
    opacity: 0.7;
}

.proj4i {
    height: 90%;
    width: 90%;
    background-image: linear-gradient(
        rgba(211, 109, 0, 0.6) 0%,
        rgba(217, 141, 18, 0.3) 50%,
        rgba(211, 109, 0, 0.6) 100%
  );
    margin: 10px;
}

.proj4:hover {
    opacity: 1;
}

#proj4in {
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%
}
    
.container {
    display: flex;
    width: 100%;
}

.sect4 {
    height: 200px;
    background-color: rgba(245, 155, 59, 0.6);
    border: 6px 0 6px 0;
    border-style: solid;
    border-color: black;
    margin-top: 35px;
}

.sect4 h3 {
    padding: 0 50px 20px 0;
    text-align: center;
}

.sect4 nav {
    width: 100%;
    height: 70%;
    border-top: 3px black solid;
}

.sect4 a {
    text-decoration: none;
    display: inline-block;
    height: 101px;
    width: 33%;
    text-align: center;
    line-height: 95px;
    color: rgb(221, 233, 244);
    font-size: 125%;
}

a:hover {
    color: rgb(12, 82, 180);
}

/* 
.sect4 a {
    text-decoration: none;
    display: inline-block;
    line-height: 70px;
    font-size: 22px;
    width: 170px;
    color: rgb(221, 233, 244);
    text-align: center;
}
*/

@media screen and (max-width: 1100px) {
    .sect4 {
        height: 400px;
    }
    
    .sect4 nav {
        display: flex;
        flex-direction: column;
        border: none;
    }
    .sect4 a {
        width: 100%;
        border-top: 3px solid black;
    }
    /*
    #proj1in[data-descr]:hover::after {
        top: 38vh;
    */
}

@media screen and (max-width: 992px) {
    .sect1 {
        height: 250px;
        font-size: 70%;
    }

    .sect1 h1 a {
        line-height: 160px;
    }
    section h3 {
        margin: 30px 0 0 0;
        text-align: center;
    }
    .sect2 {
        height: 570px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .sect2 p {
        margin: 0;
        width: 95%;
    }
    .MyPicture {
        margin-top: 20px;
    }
    .sect4 h3 {
        margin-left: 55px;
    }
}

@media screen and (max-width: 768px) {
    .sect1 {
        height: 200px;
        font-size: 50%;
    }
   
    .sect1 h1 a {
        line-height: 120px;
    }
}   

@media screen and (max-width: 576px) {
    .topnav {
        width: 100%;
    }
    .topnav a {
        width: 33.33%;
        font-size: 125%;
    }
    .sect2 {
        height: 630px
    }
    .MyPicture {
        margin-top: 0;
    }
    .container {
        display: initial;
    }
    .proj2 {
        margin: 0;
    }
    .proj3, .proj4 {
        margin-left: 10px;
    }
}

@media screen and (max-width: 430px) {
    h1 a:hover {
        font-size: 500%;
    }
}