* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, verdana;
    box-sizing: border-box;
}

nav {
    background-color: rgb(27, 23, 23);
    height: 70px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    float: right;
    line-height: 70px;
    font-size: 22px;
    font-family: sans-serif;
    border-left: 2px solid red;
    width: 170px;
    color: white;
    text-align: center;
}

nav a:hover {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
    font-style: impact;
    line-height: 350px;
    font-size: 110px;
    color: white;
}

.sect1 {
    height: 350px;
    background-color: rgb(71, 71, 206);
}

.sect2 {
    height: 250px;
    background-color: white;
    flex-wrap: wrap;
}

section {
}

section h2 {
    font-size: 30px;
    margin: 15px 0 15px 50px;
}

section p {
    margin: 0 40px 10px 20px;
    width: 70%;
    float: left;
    clear: both;
    padding-right: 4%;
}

.MyPicture {
    height: 150px;
    width: 200px;
    border: 2px solid blue;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-self: flex-end;
}

.sect3 {
    width: 100%;
}

.proj1 {
    height: 400px;
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
}

.proj1i {
    height: 90%;
    width: 90%;
    background-color: blue;
    margin: 40px;
}

#proj1in {
}

.no {
    background-color: orange;
    margin: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 140%;
}

.no:hover::after {
    background-color: green;
    content: "This is a description of the project";
    width: 270px;
    height: 30px;
    color: black;
    position: absolute;
    left: 30px;
    bottom: 64px;
    font-size: 70%;
    line-height: 30px;
}

.proj2 {
    height: 400px;
    width: 100%;
    background-color: white;
}

.proj2i {
    height: 90%;
    width: 90%;
    background-color: blue;
    margin: 20px;
}

#proj2in {
}

.proj3 {
    height: 200px;
    width: 100%;
    background-color: white;
    justify-self: flex-end;
}

.proj3i {
    height: 90%;
    width: 90%;
    background-color: blue;
    margin: 10px;
}

#proj3in {
}

.proj4 {
    height: 200px;
    width: 100%;
    background-color: white;
    justify-self: flex-end;
}

.proj4i {
    height: 90%;
    width: 90%;
    background-color: blue;
    margin: 10px;
}

#proj4in {
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%
}
    
.container {
    display: flex;
    width: 100%;
}

.sect4 {
    height: 275px;
    background-color: wheat;
}

.sect4 a {
    text-decoration: none;
}

.RandomPic {
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-self: flex-end;
}